USE AA;
GO

EXEC dbo.SP_GETBARCODEFMT;

SELECT * FROM dbo.T_GOODSFOLDER
GO

DECLARE @FLD_ID INT;
EXEC @FLD_ID = dbo.SP_ADDGOODSFOLDER N'衣服', 1
EXEC @FLD_ID = dbo.SP_ADDGOODSFOLDER N'上衣', @FLD_ID
EXEC dbo.SP_ADDGOODSFOLDER N'短袖', @FLD_ID
EXEC dbo.SP_ADDGOODSFOLDER N'长袖', @FLD_ID
EXEC dbo.SP_ADDGOODSFOLDER N'T仔', @FLD_ID
EXEC @FLD_ID = dbo.SP_ADDGOODSFOLDER N'裙子', 1
EXEC dbo.SP_ADDGOODSFOLDER N'连衣裙', @FLD_ID
EXEC dbo.SP_ADDGOODSFOLDER N'鞋子', 1

DECLARE @RET INT
EXEC @RET = dbo.FN_HASGOODSFOLDER_BY_ID 1
PRINT @RET

EXEC DBO.SP_GETGOODSFOLDER_BY_FLD_ID 1

EXEC @RET = DBO.SP_ADDGOODSFOLDER N'衣服', 1
PRINT @RET

EXEC DBO.SP_GET_ALL_GOODSPICTURE;

EXEC DBO.SP_ADDCOLOR N'红色'
EXEC DBO.SP_ADDCOLOR N'黄色'
EXEC DBO.SP_ADDCOLOR N'蓝色'
EXEC DBO.SP_ADDCOLOR N'黑色'
EXEC DBO.SP_GETCOLOR;

EXEC DBO.SP_ADDSIZE N'加大码'
EXEC DBO.SP_ADDSIZE N'大码'
EXEC DBO.SP_ADDSIZE N'中码'
EXEC DBO.SP_ADDSIZE N'小码'
EXEC DBO.SP_ADDSIZE N'加小码'
EXEC DBO.SP_GETSIZE;

DECLARE @CURDATE DATETIME
SET @CURDATE = GETDATE();
EXEC DBO.SP_ADDGOODSINFO 80130531001, 2, N'FULL', N'ABBR', N'件', '80130531001', @CURDATE, 123;
EXEC DBO.SP_GETGOODSINFO

EXEC DBO.SP_ADD_GOODS_COLOR_MAP 80130531001, N'1|2|3|4'
EXEC DBO.SP_GET_GOODS_COLOR_MAP;

EXEC DBO.SP_ADD_GOODSPICTURE_BY_GC_ID 1,0X,0;

EXEC DBO.SP_GET_ALL_GOODSPICTURE;
