<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StoreManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StoreManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StoreManagement.Properties.Settings>
            <setting name="InvalidIPAddressMsg" serializeAs="String">
                <value>请输入正确的IP地址或者服务器</value>
            </setting>
            <setting name="InvalidIPPortMsg" serializeAs="String">
                <value>请输入正确的端口号</value>
            </setting>
            <setting name="ABDescMessage" serializeAs="String">
                <value>登录成功，请在账本列表中选择对应账本。如果没有没有账本可供选择，请创建新的账本；如果没有选择账本则默认选择第一套账本；通过控制按钮可以创建或者删除账本。</value>
            </setting>
            <setting name="LMTABLE" serializeAs="String">
                <value>LandMen</value>
            </setting>
            <setting name="MSSQLSYSDB" serializeAs="String">
                <value>master</value>
            </setting>
            <setting name="MSSQLSYSTABLE" serializeAs="String">
                <value>dbo.sysobjects</value>
            </setting>
            <setting name="MYSQLSYSDB" serializeAs="String">
                <value>mysql</value>
            </setting>
            <setting name="MYSQLSYSTABLE" serializeAs="String">
                <value>information_schema.tables</value>
            </setting>
            <setting name="InvalidABNameMessage" serializeAs="String">
                <value>请输入账本名称</value>
            </setting>
            <setting name="InvalidDBNameMessage" serializeAs="String">
                <value>请输入数据库名称，注意只能是英文字符</value>
            </setting>
            <setting name="LMSPFile" serializeAs="String">
                <value>LMSP.sql</value>
            </setting>
            <setting name="DftCompressRadio" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>192.168.1.103</value>
            </setting>
            <setting name="SvrPort" serializeAs="String">
                <value>7890</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CmdLen" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BufferPrefixLen" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ApplicationHistory" serializeAs="String">
                <value>opshis.xml</value>
            </setting>
            <setting name="ABSPFile" serializeAs="String">
                <value>ABSP.sql</value>
            </setting>
            <setting name="AdminConfirmDescription" serializeAs="String">
                <value>由于接下来操作需要拥有管理员级别的操作，所以请用管理员账户登陆</value>
            </setting>
            <setting name="UsernameInput" serializeAs="String">
                <value>用户名:</value>
            </setting>
            <setting name="PasswordInput" serializeAs="String">
                <value>密码  :</value>
            </setting>
            <setting name="KeepHistoryInput" serializeAs="String">
                <value>记住登陆</value>
            </setting>
            <setting name="SysChangeUserDesc" serializeAs="String">
                <value>切换操作用户</value>
            </setting>
            <setting name="UsernameInputHint" serializeAs="String">
                <value>请输入用户名</value>
            </setting>
            <setting name="PasswordInputHint" serializeAs="String">
                <value>请输入密码</value>
            </setting>
            <setting name="UsernamePasswordInputError" serializeAs="String">
                <value>用户名或者密码错误</value>
            </setting>
            <setting name="SysChangeUserSuccess" serializeAs="String">
                <value>切换操作用户成功</value>
            </setting>
            <setting name="SysChangeABDesc" serializeAs="String">
                <value>现有账本列表：</value>
            </setting>
            <setting name="SysChangeABInitError" serializeAs="String">
                <value>获取账本列表出错</value>
            </setting>
            <setting name="SysChangeABError" serializeAs="String">
                <value>切换账本失败</value>
            </setting>
            <setting name="SysChangeABSuccess" serializeAs="String">
                <value>切换账本成功</value>
            </setting>
            <setting name="ABInputHint" serializeAs="String">
                <value>请选择账本</value>
            </setting>
            <setting name="SysChangeABSameDesc" serializeAs="String">
                <value>已经是当前账本</value>
            </setting>
            <setting name="SysChangePwdOldInput" serializeAs="String">
                <value>原密码：</value>
            </setting>
            <setting name="SysChangePwdNewInput" serializeAs="String">
                <value>新密码：</value>
            </setting>
            <setting name="SysChangePwdNewInput2" serializeAs="String">
                <value>确认新密码：</value>
            </setting>
            <setting name="SysChangePwdNotMatch" serializeAs="String">
                <value>新密码两次输入不正确</value>
            </setting>
            <setting name="SysChangePwdIsNotValid" serializeAs="String">
                <value>原密码输入失败</value>
            </setting>
            <setting name="SysChangePwdError" serializeAs="String">
                <value>更新密码失败</value>
            </setting>
            <setting name="SysChangePwdSuccess" serializeAs="String">
                <value>更新密码成功</value>
            </setting>
            <setting name="SysChangePwdOldInputHint" serializeAs="String">
                <value>请输入旧密码</value>
            </setting>
            <setting name="SysChangePwdNewInputHint" serializeAs="String">
                <value>请输入新密码</value>
            </setting>
            <setting name="SysChangePwdNewInput2Hint" serializeAs="String">
                <value>请输入确认新密码</value>
            </setting>
            <setting name="GoodsInfoGoodsId" serializeAs="String">
                <value>商品编号</value>
            </setting>
            <setting name="GoodsInfoGoodsFullName" serializeAs="String">
                <value>商品全名</value>
            </setting>
            <setting name="GoodsInfoGoodsAbbrName" serializeAs="String">
                <value>商品缩写</value>
            </setting>
            <setting name="GoodsInfoBarCodeFormat" serializeAs="String">
                <value>条形码格式</value>
            </setting>
            <setting name="GoodsInfoBarCode" serializeAs="String">
                <value>条形码编号</value>
            </setting>
            <setting name="GoodsInfoExpired" serializeAs="String">
                <value>过期日期</value>
            </setting>
            <setting name="GoodsInfoSeason" serializeAs="String">
                <value>季节</value>
            </setting>
            <setting name="GoodsInfoBrand" serializeAs="String">
                <value>品牌</value>
            </setting>
            <setting name="GoodsInfoStuff" serializeAs="String">
                <value>材料</value>
            </setting>
            <setting name="GoodsInfoPicture" serializeAs="String">
                <value>商品图片</value>
            </setting>
            <setting name="GoodsInfoBasicInfo" serializeAs="String">
                <value>商品基本信息</value>
            </setting>
            <setting name="GoodsInfoPictureImport" serializeAs="String">
                <value>导入</value>
            </setting>
            <setting name="GoodsInfoPictureRemove" serializeAs="String">
                <value>删除</value>
            </setting>
            <setting name="GoodsInfoUnit" serializeAs="String">
                <value>商品单位</value>
            </setting>
            <setting name="GoodsInfoUnspecifiedPicture" serializeAs="String">
                <value>unspecified.gif</value>
            </setting>
            <setting name="PictureFolder" serializeAs="String">
                <value>Pics</value>
            </setting>
            <setting name="UnspecifiedPicture" serializeAs="String">
                <value>Unspecified.gif</value>
            </setting>
            <setting name="LeftArrowPicture" serializeAs="String">
                <value>left.gif</value>
            </setting>
            <setting name="RightArrowPicture" serializeAs="String">
                <value>right.gif</value>
            </setting>
            <setting name="GoodsInfoPrice1" serializeAs="String">
                <value>零售价1</value>
            </setting>
            <setting name="GoodsInfoPrice2" serializeAs="String">
                <value>零售价2</value>
            </setting>
            <setting name="GoodsInfoPrice3" serializeAs="String">
                <value>零售价3</value>
            </setting>
            <setting name="GoodsViewerTitle" serializeAs="String">
                <value>商品信息</value>
            </setting>
            <setting name="FolderSettingCreateDesc" serializeAs="String">
                <value>创建商品分类</value>
            </setting>
            <setting name="FolderSettingModifyDesc" serializeAs="String">
                <value>修改商品分类</value>
            </setting>
            <setting name="FolderSettingName" serializeAs="String">
                <value>商品分类名称</value>
            </setting>
            <setting name="FolderSettingEmptyName" serializeAs="String">
                <value>请输入商品分类</value>
            </setting>
            <setting name="FolderSettingParentIdInexistenceErrorMessage"
                serializeAs="String">
                <value>父分类不存在</value>
            </setting>
            <setting name="FolderSettingSameFolderErrorMessage" serializeAs="String">
                <value>同名分类已经存在</value>
            </setting>
            <setting name="FolderSettingAddSuccess" serializeAs="String">
                <value>创建分类成功</value>
            </setting>
            <setting name="FolderSettingModifySuccess" serializeAs="String">
                <value>修改分类成功</value>
            </setting>
            <setting name="ThrobberImage" serializeAs="String">
                <value>./Pics/Throbber.gif</value>
            </setting>
            <setting name="GetBarCodeFormatError" serializeAs="String">
                <value>获取条形码格式失败</value>
            </setting>
            <setting name="SaveModifyHint" serializeAs="String">
                <value>是否保存修改</value>
            </setting>
            <setting name="WarningTitle" serializeAs="String">
                <value>警告</value>
            </setting>
            <setting name="InformationTitle" serializeAs="String">
                <value>提示</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>尺寸</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>颜色</value>
            </setting>
            <setting name="GetAllColorError" serializeAs="String">
                <value>获取颜色列表失败</value>
            </setting>
        </StoreManagement.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <StoreManagement.Properties.Settings>
            <setting name="ErrorTitle" serializeAs="String">
                <value>错误</value>
            </setting>
        </StoreManagement.Properties.Settings>
    </userSettings>
</configuration>
